.scroll-top {
  right: 12px;
  bottom: 70px;
  width: 60px;
  height: 60px;
  z-index: 9999;
  display: flex;
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  opacity: 0;
  user-select: none;
  pointer-events: none;

  @include media-breakpoint-up(sm) {
    bottom: 50px;
  }

  @include media-breakpoint-up(md) {
    bottom: 60px;
  }

  @include media-breakpoint-up(xl) {
    right: 24px;
  }

  &:hover {
    color: #fff;
  }

  &.active {
    opacity: 1;
    user-select: all;
    pointer-events: all;
  }
}
