$mixitup: ".nk-filter";

#{$mixitup} {
  &-menu {
    gap: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &-control {
    gap: 10px;
    border: 0;
    outline: 0;
    opacity: 0.7;
    display: flex;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    padding: 12px 16px;
    align-items: center;
    color: #0a1425;
    transition: all 0.2s linear;
    background-color: transparent;
    border-bottom: 1px solid $hr-border-color;

    &.active {
      opacity: 1;
      color: $primary;
      border-bottom-color: $primary;
    }
  }
}
